<table id="messages_table">
<% @messages.each do |message| %>
  <tr>
    <td><%=link_to image_tag( 'icons/newmail.png' ), message_path( message ), :title => t('tooltips.messages.new') unless message.read_at%></td>
  	<td><%=link_to l( message.created_at, :format => :long ), message_path( message ) %></td>
    <td><%=h message.sender_name %></td>
    <td><%=h message.sender_email %></td>
    <td><%= link_to image_tag( 'icons/delete.png' ), message, :title => t('tooltips.messages.delete'), :confirm => t('confirm.delete_message'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<script type="text/javascript">

	$.addFlex(document.getElementById("messages_table"),{
		colModel : [
			{display: '', name : 'status', width : 40, sortable : false, align: 'right'},
			{display: 'Дата', name : 'created_at', width : 200, sortable : true, align: 'left'},
			{display: 'Имя отправителя', name : 'sender_name', width : 180, sortable : true, align: 'left'},
			{display: 'E-Mail отправителя', name : 'sender_email', width : 180, sortable : true, align: 'left'},
		],
		height: 'auto'
	});
	
</script>