= render :partial => 'messages/filter'

= will_paginate @messages

%table#messages_table{ :cellspacing => 0 }
  %tr.header
    %th
    %th Дата получения
    %th Содержимое сообщения
    %th

  - @messages.each do |message|
    %tr{ :class => cycle('even','odd') }
      %td.status= link_to image_tag( 'icons/newmail.png' ), message_path( message ), :title => t('tooltips.messages.new') unless message.read_at
      %td.date= link_to l( message.created_at, :format => :long ), message_path( message )
      %td= message_body message
      %td.actions= link_to image_tag( 'icons/delete.png' ), message, :title => t('tooltips.messages.delete'), :confirm => t('confirm.destroy_message'), :method => :delete

= will_paginate @messages
