- content_for :stylesheets do
  %link{ :href => "/forms/#{@form.id}/code.css", :rel => "Stylesheet", :type => "text/css" }

#form_editor_panel
  %p
    = f.check_box :subscribed
    Оповещать о новых сообщениях по E-mail

#form_preview
  = render :partial => 'forms/editor/preview', :locals => { :form => @form }

#form_editors
  %ul.editor_links
    %li
      = link_to t('fields.new'), '#', :onclick => 'return false;'
      %ul
        - ['string','text','email','select','radio','check'].each do |type|
          %li= link_to_function t("fields.#{type}"), "formEditor.addField('#{form.id}','#{type}_proto')"
    %li=link_to_function "Свойства формы", "$('\#mfd_#{@form.id} h3').click()"
    
  .form_editor{ :id => "fe_#{form.id}" }
    = render :partial => "forms/editor/form", :locals => { :form => @form, :f => f }
  - @form.fields.each_with_index do |field,index|
    .form_editor{ :id => "fe_#{form.id}_#{index}" }
      = render :partial => "forms/editor/fields/#{field.type}", :locals => { :field => field, :index => index, :form => @form, :f => f }

#form_editor_footer
  
%img#left_arrow{ :src => '/images/icons/arrow-left.png', :alt => '', :style => 'display:none; position: absolute;' }

%script
  formEditor.init()