#form_editor_protos
  = field_prototype( form, 'email', 'EMail' )
  = field_prototype( form, 'string', 'Строка' )
  = field_prototype( form, 'text', 'Текст' )
  = field_prototype( form, 'select', 'Вариант' )
  = field_prototype( form, 'radio', 'Вариант' )
  = field_prototype( form, 'check', 'Опция' )