- field = Form::Field.create( type, :title => title )
- index = "#{type}_proto"

= field.render_input( form.id, index )
.form_editor{ :id => "fe_#{form.id}_#{index}" }
  = render :partial => "forms/editor/fields/#{type}", :locals => { :field => field, :index => index, :form => form }
