.form_common
  %label Название:
  = f.text_field :alias
  %label Заголовок:
  = f.text_field :title, :onchange => "$('\#mfd_#{form.id} h3').html(this.value);"
  %label Текст на кнопке:
  = f.text_field :submit_title, :onchange => "$('\#mfd_#{form.id} .submit input').val(this.value);"
.form_style
  = render :partial => 'forms/editors/style', :locals => { :form => form, :f => f }