#form_editor_protos
  = render :partial => "forms/editors/proto", :locals => { :type => 'email', :title => 'EMail', :form => form }
  = render :partial => "forms/editors/proto", :locals => { :type => 'string', :title => 'Строка', :form => form }
  = render :partial => "forms/editors/proto", :locals => { :type => 'text', :title => 'Текст', :form => form }
  = render :partial => "forms/editors/proto", :locals => { :type => 'select', :title => 'Вариант', :form => form }
  = render :partial => "forms/editors/proto", :locals => { :type => 'radio', :title => 'Вариант', :form => form }
  = render :partial => "forms/editors/proto", :locals => { :type => 'check', :title => 'Опция', :form => form }