- form_id = form.id

.mfd{ :id => "mfd_#{form_id}", :style => wrap_style( form ) }
  %form{ :action => "http://#{APP_HOST}/post/#{form_id}", :method => "POST" }
    %h3{ :style => header_style( form ) }= e( @form.title )
		
    - form.fields.each_with_index do |field,i|
      = field.render_input( form_id, i )

    .submit
      %input{ :type => "submit", :value => e( form.submit_title ), :onclick => "mf_#{form_id}.post(this.form); return false;" }
    
  .fb{ :id => "mfb_#{form_id}", :style => fb_style( form ) }

.mfd_link <a href="http://freeforms.ru/">Эта форма создана бесплатным сервисом freeforms.ru</a>

