#form_preview
  = render :partial => 'forms/editors/preview', :locals => { :form => @form }

#form_editors
  %ul.editor_links
    %li
      = link_to t('fields.new'), '#'
      %ul
        - ['string','text','email'].each do |type|
          %li= link_to_function t("fields.#{type}"), "formEditor.addField('#{form.id}','#{type}_proto')"
    %li=link_to_function "Свойства формы", "$('\#mfd_#{@form.id} h3').click()"
    
  .form_editor{ :id => "fe_#{form.id}" }
    = render :partial => "forms/editors/form", :locals => { :form => @form, :f => f }
  - @form.fields.each_with_index do |field,index|
    .form_editor{ :id => "fe_#{form.id}_#{index}" }
      = render :partial => "forms/editors/#{field.type}", :locals => { :field => field, :index => index, :form => @form, :f => f }

#form_editor_footer

<script>formEditor.init();</script>