#form_preview
  = render :partial => 'forms/code.html', :locals => { :form => @form }

#form_editors
  .form_editor{ :id => "fe_#{form.id}" }
    = render :partial => "forms/editors/form", :locals => { :form => @form, :f => f }
  - @form.fields.each_with_index do |field,index|
    .form_editor{ :id => "fe_#{form.id}_#{index}" }
      = render :partial => "forms/editors/#{field.type}", :locals => { :field => field, :index => index, :form => @form, :f => f }
    
#form_others

<script>initEditor();</script>