#form_preview
  = render :partial => 'forms/editors/preview', :locals => { :form => @form }

#form_editors
  %ul.editor_links
    %li= link_to_function "New email field", "formEditor.addField(#{form.id},'email_proto')"
    %li= link_to_function "New string field", "formEditor.addField(#{form.id},'string_proto')"
    %li= link_to_function "New text field", "formEditor.addField(#{form.id},'text_proto')"
  .form_editor{ :id => "fe_#{form.id}" }
    = render :partial => "forms/editors/form", :locals => { :form => @form, :f => f }
  - @form.fields.each_with_index do |field,index|
    .form_editor{ :id => "fe_#{form.id}_#{index}" }
      = render :partial => "forms/editors/#{field.type}", :locals => { :field => field, :index => index, :form => @form, :f => f }

#form_editor_footer

<script>formEditor.init();</script>