var mf_<%=@form.id%> = new function() {

	function attachScript(src){
		var e = document.createElement("script");
		e.type = "text/javascript";
		e.src = src;
		document.getElementsByTagName("head")[0].appendChild(e);
	}
	
	function attachStyle(src) {
		var e = document.createElement("link");
		e.href = src;
		e.rel = 'stylesheet';
		e.type = 'text/css';	
		document.getElementsByTagName("head")[0].appendChild(e);
	}
	
	function encodeForm( form ) {
		var str = '';
		
		for ( var i = 0; i < form.elements.length; ++ i ) {
			if ( i > 0 ) 
				str += '&';
			
			var e = form.elements[i];
			
			if ( e.name && !e.disabled && (e.checked || /select|textarea/i.test(e.nodeName) || /text|hidden|password|search/i.test(e.type)) )
				str += e.name + '=' + encodeURIComponent( e.value );
		}
		
		return str;
	}
	
	function setBlockContent( content ) {
		var b = document.getElementById('mfb_<%=@form.id%>');
		b.innerHTML = '<div>' + content + '</div>';
		b.style['display'] = 'block';
	}
	
	this.onSuccess = function( token ) {
		setBlockContent( '<p><%=e 'Сообщение отправлено. Вы можете посмотреть его статус по ссылке:'%> <a href="http://<%=APP_HOST%>/status/' + token + '" target="_blank">http://<%=APP_HOST%>/status/' + token + '</a></p>' );
	},

	this.onError = function(errors) {
		for ( var i = 0; i < errors.length; ++ i ) {
			var error = errors[i];
			document.getElementById('mf_<%=@form.id%>_'+error[0]).className += ' error';
			document.getElementById('mfe_<%=@form.id%>_'+error[0]).innerHTML = error[1];
		}

		document.getElementById('mfb_<%=@form.id%>').style['display'] = 'none';
	},

	this.post = function(form) {
		setBlockContent( '<p><%=e 'Подождите, идет отправка сообщения...'%><br /><br /><img src="http://<%=JS_HOST%>/images/loader-bar.gif" /></p>' );

		attachScript('http://<%=APP_HOST%>/post/<%=@form.id%>?' + encodeForm( form ) );
	},
	
	this.build = function() {
		attachStyle('<%="http://#{JS_HOST}/forms/#{@form.id}/code.css" %>');
		
		document.writeln( '<%= form_html( @form ).gsub('\'') { |s| '\\\'' } %>' );
	}
	
	return this;
};

mf_<%=@form.id%>.build();