- labelling_form_for( @form, :html => { :class => 'form_editor' } ) do |f|
  = render :partial => 'editor', :locals => { :f => f }
  
  %br
  = f.submit_update :class => 'button'
  = styled_link_to :cancel, form_path( @form )
  = styled_link_to 'actions.form.destroy', form_path( @form ), :confirm => t('confirm.destroy_form'), :method => :delete

%script= "ui.initEditForm(#{@hash || 'location.hash'});"