<html><head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%=@form.title %></title>
<style><%=@css%></style>
</head><body>

<p style="color:#b00;text-align:center;font-weight:bold;">Внимание! Это только предпросмотр формы, она еще не сохранена и не работает!<br />Все изменения вступят в силу только после нажатия кнопки "Сохранить форму"!</p>

<div id="mfd_<%=@form.id%>" class="mfd">
	<h3><%=e @form.title%></h3>
			
	<% @form.fields.each_with_index do |field,i|%>
		<% if field.enabled? %>
	  		<%=field.render_input(@form.id,i)%>
	  	<% end %>
	<% end %>
			
	<div class="submit"><input type="submit" onclick="return false;" value="<%=e @form.submit_title%>" /></div>
</div>

</body></html>