#form-tabs
  %ul
    %li
      %a{ :href => '#form-description' }= t 'form.description'
    %li
      %a{ :href => '#form-fields' }=t 'form.fields'
    %li
      %a{ :href => '#form-style' }=t 'form.style'
    %li
      %a{ :href => '#form-code' }=t 'form.code'
    %li
      %a{ :href => '#form-preview' }=t 'form.preview'

  #form-description
    %p
      %b=t('activerecord.attributes.form.title') + ':'
      =h @form.title
      
    %p
      %b=t('activerecord.attributes.form.submit_title') + ':'
      =h @form.submit_title
      
    %p
      %b=t('activerecord.attributes.form.description') + ':'
      =h @form.description

  #form-fields
    - @form.fields.each_with_index do |field,i|
      %p
        %b= field.title + ':'
        =t 'types.' + field.type.to_s
        %ul
          - if field.default
            %li
              %b По умолчанию:
              = field.default
            
          - if field.disabled?
            %li
              %b Запрещено
  
  #form-style
    - style = @form.style
    
    %p
      %b=t( 'style.font_family' ) + ':'
      %span{ :style => 'font-family: ' + style.font_family }=h style.font_family
    
    %p
      %b=t( 'style.font_size' ) + ':'
      =h style.font_size
    
    %p
      %b=t( 'style.font_color' ) + ':'
      %span{ :class => 'color', :style => 'background: ' + style.font_color }=h style.font_color
      
    %p
      %b=t( 'style.title_family' ) + ':'
      %span{ :style => 'font-family: ' + style.title_family }=h style.title_family
    
    %p
      %b=t( 'style.title_size' ) + ':'
      =h style.title_size
    
    %p
      %b=t( 'style.title_color' ) + ':'
      %span{ :class => 'color', :style => 'background: ' + style.title_color }=h style.title_color
    
    %p  
      %b=t( 'style.background' ) + ':'
      %span{ :class => 'color', :style => 'background: ' + style.background }=h style.background
              
  #form-code

    %p
      %b=t(:form_code_inline) + ':'
      %pre=h @form.code(:js_inline)
    
    %p
      %b=t(:form_code_popup) + ':'
      %pre=h @form.code(:popup)
      
  #form-preview{ :code => @form.code_url(:html) }

%br
= styled_link_to 'actions.form.edit', edit_form_path( @form ) + '#', :id => 'form_edit_link'
= styled_link_to 'actions.form.clone', clone_form_path( @form ) + '#', :id => 'form_clone_link'
= styled_link_to 'actions.form.destroy', form_path( @form ), :confirm => t('confirm.destroy_form'), :method => :delete

%script{ :type => 'text/javascript' }= "ui.initShowForm(#{@hash || 'location.hash'});"