%ul#form_tabs.tabs
  %li
    %a{ :href => '#form-description' }= t 'form.description'
  %li
    %a{ :href => '#form-fields' }=t 'form.fields'
  %li
    %a{ :href => '#form-style' }=t 'form.style'
  %li
    %a{ :href => '#form-code' }=t 'form.code'
  %li
    %a{ :href => '#form-preview' }=t 'form.preview'

#form_panes.panes
  #form-description
    = render :partial => "forms/viewer/common", :locals => { :form => @form }

  #form-fields
    = render :partial => "forms/viewer/fields", :locals => { :form => @form }

  #form-style
    = render :partial => "forms/viewer/style", :locals => { :form => @form }

  #form-code
    %p
      %b=t(:form_code_inline) + ':'
      %pre=h @form.code(:js_inline)

    %p
      %b=t(:form_code_popup) + ':'
      %pre=h @form.code(:popup)
  #form-preview{ :code => @form.code_url(:html) }

%br
= styled_link_to 'actions.form.edit', edit_form_path( @form ), :id => 'form_edit_link'
= styled_link_to 'actions.form.clone', clone_form_path( @form ), :id => 'form_clone_link'
= styled_link_to 'actions.form.destroy', form_path( @form ), :confirm => t('confirm.destroy_form'), :method => :delete

%script{ :type => 'text/javascript' }= "ui.initShowForm(#{@hash || 'location.hash'});"
