= render :partial => 'page', :locals => { :form => @form, :type => 'viewer' }

%br
= styled_link_to 'actions.form.edit', edit_form_path( @form ) + '#', :id => 'form_edit_link'
= styled_link_to 'actions.form.clone', clone_form_path( @form ) + '#', :id => 'form_clone_link'
= styled_link_to 'actions.form.destroy', form_path( @form ), :confirm => t('confirm.destroy_form'), :method => :delete

%script{ :type => 'text/javascript' }= "ui.initShowForm(#{@hash || 'location.hash'});"