#tabs
  %ul
    %li
      %a{ :href => '#login' }= t 'actions.session.create'
    %li
      %a{ :href => '#register' }=t 'actions.account.create'
    %li
      %a{ :href => '#restore_password' }=t 'actions.account_password.create'

  #login
    - labelling_form_for :session, @user_session, :url => session_path do |f|
      = f.text_field :email
      = f.password_field :password
      = f.check_box :remember_me
			
      = f.submit_create

  #register
    - labelling_form_for :account, @user, :url => account_path do |f|
      = f.error_messages
  
      = f.text_field :email
      = f.password_field :password
      = f.password_field :password_confirmation
  
      = f.submit_create

  #restore_password
    - labelling_form_for :account_password, User.new, :url => account_passwords_path do |f|
      = f.text_field :email
			
      = f.submit_create


%script= "ui.initIndex(#{@hash || 'location.hash'});"