- without_panel!

- labelling_form_for :account, @user, :url => account_path do |f|

  %ol
    %li
      %p Укажите адрес почты, на который Вам будет выслан пароль, а затем будут высылаться сообщения с формы:
      
      - unless @user.errors.empty?  
        #flash-error
          Ошибка регистрации!
          %ul
            - @user.errors.each_full do |e|
              %li= e
              
      .center 
        <label for="account_email">E-Mail: </label><input id="account_email" name="account[email]" size="30" type="text" value="#{@user.email}" />
        <span style="float:right">Но Вы можете указать пароль сами: <input id="account_password" name="account[password]" size="30" type="password" /></span>

    %li
      %p Это Ваша форма, можете отредактировать ее прямо сейчас (но Вы сможете сделать это и в любой момент позже):
      
      - fields_for :form, @form do |ff|
        = render :partial => 'forms/page', :locals => { :form => @form, :type => 'editor', :f => ff }
    %li
      %p Теперь нажмите эту кнопку и вы получите код для вставки формы на сайт:
      
      = f.submit_create :class => 'button'
  
= render :partial => 'forms/editors/protos', :locals => { :form => @form }
