  
%p Введите E-Mail и пароль, которые Вы будете использовать для входа на сервис. Настоятельно рекомендуем указывать настоящий E-Mail, поскольку в случае утери пароля новый пароль будет выслан именно на него.
%p Здесь же Вы можете настроить Вашу первую форму. Для того, чтобы добавить поля воспользуйтесь панелью справа.
  
- labelling_form_for :account, @user, :url => account_path do |f|

  = f.error_messages
  
  - if params[:form]  
    #left
      = f.text_field :email
      = f.password_field :password
      = f.password_field :password_confirmation
      
      = f.submit_create :class => 'button'
    
    #content
      - fields_for :form, @form do |ff|
        = render :partial => 'forms/page', :locals => { :form => @form, :type => 'editor', :f => ff }
  - else
    = f.text_field :email
    = f.password_field :password
    = f.password_field :password_confirmation  
  
    = f.submit_create :class => 'button'
  
- if params[:form]     
  = render :partial => 'forms/editors/protos', :locals => { :form => @form }
