%ul#register_tabs.tabs
  %li
    %a{ :href => '#register' }=t 'actions.account.create'
  %li
    %a{ :href => '#restore_password' }=t 'actions.account_password.create'

#register_panes.panes
  #register
    - labelling_form_for :account, @user, :url => account_path do |f|
      = f.error_messages
  
      = f.text_field :email
      = f.password_field :password
      = f.password_field :password_confirmation
  
      = f.submit_create

  #restore_password
    - labelling_form_for :account_password, User.new, :url => account_passwords_path do |f|
      = f.text_field :email
			
      = f.submit_create


%script= "ui.initIndex();"