- without_panel!

%table
  %tr
    %th
    %th Активных
    %th Всего
  %tr
    %td Пользователей:
    %td= User.count
    %td
  %tr
    %td Форм:
    %td= Form.count
    %td= Form.count_with_deleted
  %tr
    %td Сообщений:
    %td= Message.count
    %td= Message.count_with_deleted