- without_panel!

%h3 Пользователи

%p 
  Всего:
  = User.count

%img{ :src => @users_chart.to_url }

%h3 Формы

%p 
  Активных:
  = Form.count
  %br
  Всего:
  = Form.with_deleted.count

%img{ :src => @forms_chart.to_url }

%h3 Сообщения

%p 
  Активных:
  = Message.count
  %br
  Всего:
  = Message.with_deleted.count

%img{ :src => @messages_chart.to_url }