- if current_user
  %h3= link_to( t( 'actions.message.index' ), messages_path )
  
  %ul
    %li= link_to t( 'actions.message.unread' ) + " (#{current_user.messages.unread.count})", unread_messages_path
    %li= link_to t( 'actions.message.today' ) + " (#{current_user.messages.today.count})", today_messages_path
    %li= link_to t( 'actions.message.index' ) + " (#{current_user.messages.count})", messages_path
    
    - if @messages
      %li= link_to "Скачать в XLS (Excel)", url_for( :format => :xls, :page => nil )
      %li= link_to "Скачать в CSV", url_for( :format => :csv, :page => nil )
    - else
      %li= link_to "Скачать все в XLS (Excel)", messages_url( :format => :xls )
      %li= link_to "Скачать все в CSV", messages_url( :format => :csv )
  
  %h3= link_to( t( 'actions.form.index' ), forms_path )
    
  %ul
    - current_user.forms.each do |form| 
      %li= link_to( form.title, form_path( form ) ) + ' ' + icon_link_to( :edit, edit_form_path( form ) )
    %li= icon_link_to( :new, new_form_path ) + ' ' + link_to( '<i>' + t( 'actions.form.new' ) + '...</i>', new_form_path )
        
  %br
- else
  %h3 Вход

  #login
    - labelling_form_for :session, @user_session, :url => session_path, :html => { :id => 'login_form' } do |f|
      = f.text_field :email
      = f.password_field :password
      = f.check_box :remember_me
      
      .alt
        = link_to t( 'actions.account.create' ), register_url + '#register'
        = link_to t( 'actions.account_password.create' ), register_url + '#restore_password'
			
      = f.submit_create
      
  %script= "ui.initEnterForm();"