- if current_user
  %h3= link_to( 'Мои сообщения', messages_path )

  %ul
    %li= link_to t( 'actions.message.unread' ) + " (#{current_user.messages.unread.count})", unread_messages_path
    %li= link_to t( 'actions.message.today' ) + " (#{current_user.messages.today.count})", today_messages_path
    %li= link_to t( 'actions.message.index' ) + " (#{current_user.messages.count})", messages_path

    - if @messages
      %li= link_to "Скачать в XLS (Excel)", url_for( :format => :xls, :page => nil )
      %li= link_to "Скачать в CSV", url_for( :format => :csv, :page => nil )
    - else
      %li= link_to "Скачать все в XLS (Excel)", messages_url( :format => :xls )
      %li= link_to "Скачать все в CSV", messages_url( :format => :csv )

  %h3= link_to( t( 'actions.stats.index' ), stats_path )
  
  %ul
    - current_user.forms.each do |form|
      - if form.support_stats?
        %li= link_to( form.alias, stats_form_path( form ) )
  
  %h3= link_to( t( 'actions.form.index' ), forms_path )

  %ul
    - current_user.forms.each do |form|
      %li= link_to( form.alias, form_path( form ) ) + ' ' + icon_link_to( :edit, edit_form_path( form ) )
    %li= icon_link_to( :new, new_form_path ) + ' ' + link_to( "<i>#{t( 'actions.form.new' )}...</i>".html_safe, new_form_path )

  %br
