%ul.l
%ul.r  
  - if current_user
    %li= "Вы вошли как #{link_to( current_user.email, account_path )} (#{link_to( t( 'actions.session.destroy' ), logout_path )})"
  - else
    %li= link_to t( 'actions.account.create' ), register_url + '#register'
    %li= link_to t( 'actions.account_password.create' ), register_url + '#restore_password'
