%ul.l
%ul.r  
  - if current_user
    %li= "Вы вошли как #{link_to( current_user.email, account_path )} &nbsp;&nbsp;|&nbsp;&nbsp; #{link_to( t( 'actions.session.destroy' ), logout_path )}".html_safe
  - else
    %li= link_to t( 'actions.account.create' ), register_url
    %li= link_to t( 'actions.account_password.create' ), restore_url
