!!!
!!! XML

%html{ 'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "ru", 'lang' => "ru" }
  %head
    %meta{ 'http-equiv' => "content-type", 'content' => "text/html;charset=UTF-8" }
    %title= page_title + ' | FreeForms.ru'
    = stylesheet_link_tag 'bundle_app'
    = yield :stylesheets
    = javascript_include_tag 'bundle_app'
    = yield :javascripts
  %body

    <!--LiveInternet counter--><script type="text/javascript"><!--
    new Image().src = "http://counter.yadro.ru/hit?r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";"+Math.random();//--></script><!--/LiveInternet-->

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-11149699-4");
    pageTracker._trackPageview();
    } catch(err) {}</script>

    #header= render :partial => 'layouts/header'
    #topmenu= render :partial => 'layouts/topmenu'

    - if without_panel?
      #content-full
        %h1= page_title
        = render 'layouts/flashes'
        = yield
    - else
      #left= render :partial => 'layouts/sidebar'
      #title
        %h1= page_title
      #content
        = render 'layouts/flashes'
        = yield

    #footer
      .l
        2009 &copy <a href="/authors">Алексей Носков и Анатолий Макаровский</a><br /> &nbsp;
      .r
      .c
        <a href="/register">зарегистрироваться</a> ׀ <a href="/restore">восстановить пароль</a><br />
        <a href="/messages">мои сообщения</a> ׀ <a href="/forms">мои формы</a> ׀ <a href="/about">о проекте</a>
