<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http:// www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=t 'titles.' + controller.controller_name + '.' + controller.action_name %></title>
  <%= stylesheet_link_tag 'ui', 'base/ui.all.css', 'flexigrid/flexigrid' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'flexigrid.pack.js', 'jquery.validate.pack.js', 'application' %>
</head>
<body>
	
<div id="page">
	<div id="header">FreeForms - контактные формы на Вашем сайте</div>
	<div id="main">
		<div id="left"><%=render :partial => 'shared/sidebar'%></div>
		<div id="content">		  
		  <%if flash[:notice]%><div id="flash-notice"><%= image_tag 'icons/ok.png' %><%= flash[:notice] %></div><%end%>
		  <%if flash[:error]%><div id="flash-error"><%= image_tag 'icons/error.png' %><%= flash[:error] %></div><%end%>

		  <h1><%=t 'titles.' + controller.controller_name + '.' + controller.action_name %></h1>
		  
		  <%= yield %>
		</div>
	</div>
	<div id="footer">2009 &copy Authors</div>
</div>

</body>
</html>
