!!!
!!! XML

%html{ 'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "ru", 'lang' => "ru" }
  %head
    %meta{ 'http-equiv' => "content-type", 'content' => "text/html;charset=UTF-8" }
    %title=t( 'titles.' + controller.controller_name + '.' + controller.action_name ) + ' | FreeForms.ru'
    = stylesheet_link_merged :app
    = javascript_include_merged :app
  %body
    
    <!--LiveInternet counter--><script type="text/javascript"><!--
    new Image().src = "http://counter.yadro.ru/hit?r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";"+Math.random();//--></script><!--/LiveInternet-->

    #header
      .r= link_to t( :link_about ), about_path
      %h1
        %a{ :href => root_url } FreeForms.ru<sup>&beta;</sup>
      %h2 контактные формы для Вашего сайта
    #topmenu= render :partial => 'shared/topmenu'
      
    #left= render :partial => 'shared/sidebar'
    #title
      %h1=t 'titles.' + controller.controller_name + '.' + controller.action_name
    #content		  
      - if flash[:notice]
        #flash-notice
          = image_tag 'icons/ok.png'
          = flash[:notice]
      - if flash[:error]
        #flash-error
          = image_tag 'icons/error.png'
          = flash[:error]
    		  
      = yield
    #footer
      .l 2009 &copy Алексей Носков и Анатолий Макаровский <br /> &nbsp;
      .r
      .c
        <a href="/register#register">регистрация</a> ׀ <a href="/register#restore_password">восстановить пароль</a><br /> 
        <a href="/messages">мои сообщения</a> ׀ <a href="/forms">мои формы</a> ׀ <a href="/about">о проекте</a>

    <script type="text/javascript" language="JavaScript" src="http://reformal.ru/tab.js?title=FreeForms&domain=freeforms&color=F6AF39&align=right&charset=utf-8&ltitle=&lfont=&lsize=&waction=0&regime=0"></script>
