!!!
!!! XML

%html{ 'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "ru", 'lang' => "ru" }
  %head
    %meta{ 'http-equiv' => "content-type", 'content' => "text/html;charset=UTF-8" }
    %title=t( 'titles.' + controller.controller_name + '.' + controller.action_name ) + ' | FreeForms.ru'
    = stylesheet_link_merged :app
    = javascript_include_merged :app
  %body
    #page
      #header
        %h1
          %a{ :href => root_url } FreeForms.ru
        %h2 Бесплатные контактные формы для Вашего сайта
      #topmenu= render :partial => 'shared/topmenu'
      #main
        #left= render :partial => 'shared/sidebar'
        #title
          %h1=t 'titles.' + controller.controller_name + '.' + controller.action_name
        #content		  
          - if flash[:notice]
            #flash-notice
              = image_tag 'icons/ok.png'
              = flash[:notice]
          - if flash[:error]
            #flash-error
              = image_tag 'icons/error.png'
              = flash[:error]
    		  
          = yield
      #footer 2009 &copy Authors
