!!!
!!! XML

%html{ 'xmlns' => "http://www.w3.org/1999/xhtml", 'xml:lang' => "ru", 'lang' => "ru" }
  %head
    %meta{ 'http-equiv' => "content-type", 'content' => "text/html;charset=UTF-8" }
    %title= page_title + ' | FreeForms.ru'
    = stylesheet_link_merged :app
    = javascript_include_merged :app
  %body
    
    <!--LiveInternet counter--><script type="text/javascript"><!--
    new Image().src = "http://counter.yadro.ru/hit?r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";"+Math.random();//--></script><!--/LiveInternet-->

    #header= render :partial => 'layouts/header'
    #topmenu= render :partial => 'layouts/topmenu'
    
    - if not ['root','wiki_pages'].include? controller.controller_name
      #left= render :partial => 'layouts/sidebar'      
      #title
        %h1= page_title
      #content    		  
        = yield
    - else
      #content-full
        %h1= page_title
        = yield
    #footer
      .l 2009 &copy Алексей Носков и Анатолий Макаровский <br /> &nbsp;
      .r
      .c
        <a href="/register#register">регистрация</a> ׀ <a href="/register#restore_password">восстановить пароль</a><br /> 
        <a href="/messages">мои сообщения</a> ׀ <a href="/forms">мои формы</a> ׀ <a href="/about">о проекте</a>
