- labelling_form_for @user, :as => :account, :url => account_path, :html => { :method => :put } do |f|
  #account-tabs
    %ul
      %li
        %a{ :href => '#account-main' }= t 'titles.accounts.show'

    #account-main
      = f.error_messages

      = f.password_field :password
      = f.password_field :password_confirmation

  %br

  = f.submit_update :class => 'button'
  = styled_link_to :cancel, account_path

%script= "ui.initAccount(#{@hash || 'location.hash'});"
